<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="fl32:vsf:replicate:catalog"
                      xsi:type="object">Flancer32\VsfAdapter\Cli\Replicate\Catalog</item>
                <item name="fl32:vsf:replicate:inventory"
                      xsi:type="object">Flancer32\VsfAdapter\Cli\Replicate\Inventory</item>
            </argument>
        </arguments>
    </type>

    <!-- ******* -->
    <!-- PLUGINS -->
    <!-- ******* -->
    <type name="Magento\Eav\Model\AttributeRepository">
        <!-- Add filter to skip Temando Shipping attributes (started with "ts_"). -->
        <plugin name="fl32_vsf_adapter_plugin"
                type="Flancer32\VsfAdapter\Plugin\Magento\Eav\Model\AttributeRepository"
                sortOrder="1000" disabled="false"/>
    </type>
    <type name="Magento\Store\Model\StoreRepository">
        <!-- Replace 'rest' with 'default' to process REST requests from VSF API. -->
        <plugin name="fl32_vsf_adapter_plugin"
                type="Flancer32\VsfAdapter\Plugin\Magento\Store\Model\StoreRepository"
                sortOrder="1000" disabled="false"/>
    </type>

</config>
